{{define "page"}}
<div class="w-full mx-auto flex flex-col gap-8 px-4">
    <h1 class="font-bold text-2xl">{{.Title}}</h1>

    <div>
        <div class="columns-4 space-y-4 space-x-4">
            {{range .Images}}
            <a href="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}">
                <img src="/galleries/{{.GalleryID}}/images/{{.FilenameEscaped}}" alt="{{.FilenameEscaped}}">
            </a>
            {{end}}
        </div>
    </div>
</div>
{{end}}