<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="relative scroll-smooth flex flex-col min-h-[calc(100vh+96px)] bg-gray-50 text-gray-950">
    <header
        class="fixed z-10 top-0 w-full h-[48px] flex bg-indigo-700 justify-center text-md font-semibold text-gray-50">
        <nav class="flex items-center px-4 justify-between w-[1152px]">
            <div>Logo</div>
            <div class="flex items-center gap-6">
                <ul class="flex gap-6 py-2">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                </ul>
                <div class="flex gap-6">
                    {{if currentUser}}
                    <form action="/signout" method="post">
                        <div class="hidden">{{csrfField}}</div>
                        <button type="submit">SignOut</button>
                    </form>
                    <a href="/galleries/new">Create Gallery</a>
                    <a href="/galleries/">Galleries</a>
                    {{else}}
                    <a href="/signin">Sign In</a>
                    <a href="/signup">Sign Up</a>
                    {{end}}
                </div>
            </div>
        </nav>
    </header>

    <main class="w-full flex-grow mt-[48px] flex justify-center">
        <div class="w-[1152px] pt-[74px] relative">
            <!-- Error -->
            {{if errors}}
            <div class="my-4 fixed top-[48px] left-1/2 transform -translate-x-1/2 flex flex-col gap-2 justify-center">
                {{range errors}}
                <div
                    class="closeable flex justify-between gap-4 rounded-md p-2 bg-gray-50 shadow-md border border-red-500 text-red-600">
                    <p>{{.}}</p>
                    <a href="#" onclick="closeAlert(event)"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </a>
                </div>
                {{end}}
            </div>
            {{end}}
            <div class="h-full flex-grow">{{template "page" .}}</div>
        </div>
    </main>
    <footer class="w-full h-[96px] mt-6 bg-gray-900 text-gray-100 flex justify-center">
        <div class="w-[1152px]">
            <p>It's the footer!</p>
        </div>
    </footer>
    <script>
        const closeAlert = (event) => {
            let closeAble = event.target.closest(".closeable");
            closeAble.remove();
        }
    </script>
</body>

</html>